a {
    text-decoration: none;
}

#blog-title-content {
    background: url(https://s3-ap-northeast-1.amazonaws.com/grass-graph-rochefort/rochefort.png) white bottom center no-repeat;
    height: 112px;
    margin-bottom: 20px;
}

#title {
    padding-top: 45px;
}

.entry-header {
    border-top: 4px solid #666;
    border-bottom: 4px solid #666;
    margin-bottom: 20px;
}

.entry-title {
    margin: 10px 0 0 2px;
}

.categories {
    margin-bottom: 0;
}

.entry-content {
    font-size: 95%;
}
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5 {
    margin-bottom: 0;
}
.entry-content p {
    margin-top: 0;
}
.entry-content img {
    border : 1px solid gray;
}

.urllist-title-link {
  font-size: 110%;
}

/* --------------------------------
 * Profile
 * -------------------------------- */
.feedly-link {
   margin-top: -38px;
   padding-left: 86px;
}

/* --------------------------------
 * Top Entries
 * -------------------------------- */
#hatena-bookmark-widget0 {
    margin-top: -10px;
}
#hatena-bookmark-widget0 li {
    border-bottom: 1px dotted #ccc;
    padding: .3em 5em .3em .7em
}
#hatena-bookmark-widget0 li:first-child {
    border-top: 1px dotted #ccc;
}
#hatena-bookmark-widget0 li > a {
    color: #333;
    text-decoration: none;
}

/* bookmark title icon */
.hatena-bookmark-widget-title {
    position: relative;
    left: 100px;
    top: -24px;
}
/* ellipsis */
.hatena-bookmark-widget-body ul {
    padding-left: 0;
}
.hatena-bookmark-widget-body ul li {
    line-height: 1.7em;
    padding-right: 60px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    /* Opera9,10対応 */
}
.hatena-bookmark-count {
    position: absolute;
    right: 0;
}
.hatena-bookmark-count strong a {
    color: #FF0505;
    background-color: #FFCBCB;
    border-radius: 1px;
    padding: 0 1px;
    text-decoration: underline;
}
.hatena-bookmark-widget-footer {
    display: none;
}

/* --------------------------------
 * Recommendations
 * -------------------------------- */
.recommendation-list li {
    border-bottom: 1px dotted #ccc;
}
.recommendation-list li:first-child {
    border-top: 1px dotted #ccc;
}
.recommendation-list li a {
    color: #333;
    display: block;
    text-decoration: none;
    padding: .3em .7em;
}

/* --------------------------------
 * Recent Posts
 * -------------------------------- */
.recent-entries-item-inner {
    padding: .3em .7em;
}


/* --------------------------------
 * Categories
 * -------------------------------- */
.hatena-module-category .hatena-urllist li {
    margin: -2px 5px 5px 4px;
}
