a {
    text-decoration: none;
}

.entry-header {
    border-top: 4px solid #666;
    border-bottom: 4px solid #666;
    margin-bottom: 20px;
}

.entry-title {
    margin: 10px 0 0 2px;
}

.categories {
    margin-bottom: 0;
}

.entry-content {
    font-size: 95%;
}

.entry-content img {
    border : 1px solid gray;
}

/* top 5 hatebu */

#hatena-bookmark-widget0 {
    margin-top: -10px;
}
/* move title icon */
.hatena-bookmark-widget-title {
    position: relative;
    left: 100px;
    top: -24px;
}
/* ellipsis */
.hatena-bookmark-widget-body ul {
    padding-left: 0;
}
.hatena-bookmark-widget-body ul li {
    line-height: 1.7em;
    padding-right: 60px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    /* Opera9,10対応 */
}
.hatena-bookmark-count {
    position: absolute;
    right: 0;
}
.hatena-bookmark-count strong a {
    color: #FF0505;
    background-color: #FFCBCB;
    border-radius: 1px;
    padding: 0 1px;
    text-decoration: underline;
}
.hatena-bookmark-widget-footer {
    display: none;
}